<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Messages Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.3.2/socket.io.js"></script>
</head>
<body>
    <h1>Ontvangen berichten van de server:</h1>
    <ul id="message-list"></ul>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Luister naar berichten van de server
        socket.on('server_message', function(data) {
            var message = data.message;
            var messageList = document.getElementById('message-list');
            var listItem = document.createElement('li');
            listItem.textContent = message;
            messageList.appendChild(listItem);
        });
    </script>
</body>
</html>
